DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=solymar_dashboard_db
DB_HOST=localhost
DB_PORT=5432
PORT=3000

DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?schema=public"

PEPPER=acavatupasswordcustomparapoderhacerelhashmasseguro
JWT_SECRET=acavalaclavesecretadejwt
JWT_EXPIRES_IN=1m

# CORS
CORS_ENABLED=true
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
# en prod: https://dashboard.tu-dominio.com,https://www.tu-frontend.com