# fly.toml app configuration file generated for solymar-dashboard on 2025-12-29T18:15:21Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'solymar-dashboard'
primary_region = 'iad'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'
  seed_command = 'ts-node -T prisma/seed.ts'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
