app = "solymar-dashboard"
primary_region = "iad"

[deploy]
  release_command = "./node_modules/.bin/prisma migrate deploy"
  seed_command = "ts-node -T prisma/seed.ts"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1gb"
  memory_mb = 1024